# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache

# Node dependencies
node_modules
dist
# docs

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env filesgit push
.env
.env.*
!.env.example
